.hepsi{width:760px; height:auto; margin:10px auto}
.menu{width:400px; height:50px; margin:0 0 0 11px}
.ust{width:760px; height:90px; background:url(css-baliklama12.jpg) no-repeat; padding:60px 0 0 0}
.ortasol{ width:385px; height:302px; float:left; font:12px tahoma; color:#999; padding:20px 0 0 10px}
.ortasag{ width:345px; height:322px; float:left; margin:0 0 0 20px; font:12px tahoma; color:#999}
.altsol{ width:415px; height:68px; float:left; font:11px tahoma; color:#ccc; border-top:1px solid #ccc; padding:30px 0 0 0}
.altsag{ width:345px; height:68px; float:left; border-top:1px solid #ccc; padding:30px 0 0 0; font:11px tahoma; color:#ccc}
.menu ul{ margin:0; padding:0; list-style:none}
.menu ul li{ float:left}
.menu ul li a{ display:block; height:50px; text-indent:-2000px}
.menu ul li#about a{ width:71px; background:url(css-baliklama17%20-%20Kopya.gif) 0 -100px no-repeat}
.menu ul li#servıces a{ width:84px; background:url(css-baliklama17.gif) no-repeat}
.menu ul li#portfolıo a{ width:95px; background:url(css-baliklama18.gif) no-repeat}
.menu ul li#contact a{ width:106px; background:url(css-baliklama19.gif) no-repeat}

.menu ul li#servıces a:hover{ background:url(css-baliklama17.gif) 0 -100px no-repeat}
.menu ul li#portfolıo a:hover{ background:url(css-baliklama18.gif) 0 -100px no-repeat}
.menu ul li#contact a:hover{ background:url(css-baliklama19.gif) 0 -100px no-repeat}

.ustıc{  width:250px; height:30px; margin:0px 0 0 510px; font:20px verdana; color:#fff}
.yazi1{ font:bold 23px verdana; color:#fff}
.yazi2{ font:bold 17px tahoma; color:#f60}
.yazi3{ font:bold 13px tahoma; color:#888}
.yazi4{ font:21px tahoma; color:#c95e4e; text-transform:uppercase}
.yazi5{ font:11px tahoma; color:#d36818}
.altsag a{ font:11px tahoma; color:#ccc; text-decoration:none}
.altsag a:hover{color:#d36818; text-decoration:underline}


